<h2 class="text-2xl font-bold mb-6">Agent Dashboard</h2>
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-10">
  <div class="bg-white shadow rounded-xl p-6 border-l-4 border-blue-500">
    <p class="text-gray-500">Customers Assigned</p>
    <p class="text-3xl font-bold text-blue-600">
      {{ customersCount() }}
    </p>
  </div>
  <div class="bg-white shadow rounded-xl p-6 border-l-4 border-green-500">
    <p class="text-gray-500">Total Policies</p>
    <p class="text-3xl font-bold text-green-600">
      {{ policiesCount() }}
    </p>
  </div>

  <div class="bg-white shadow rounded-xl p-6 border-l-4 border-red-500">
    <p class="text-gray-500">Total Claims</p>
    <p class="text-3xl font-bold text-red-600">
      {{ claimsCount() }}
    </p>
  </div>

</div>

<!-- CUSTOMER GRID -->
<h3 class="text-xl font-semibold mb-4">Assigned Customers</h3>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

  <div *ngFor="let c of customers()" class="bg-white p-4 rounded-xl shadow">

  <p class="text-lg font-semibold">{{ c.name }}</p>

  <p class="text-sm text-gray-600">{{ c.email }}</p>
  <p class="text-sm text-gray-600">{{ c.phone }}</p>

  <p class="text-sm text-gray-500 mt-1">
    {{ c.city }} · KYC: {{ c.kycStatus }}
  </p>

  <div class="mt-4 flex justify-between items-center">
    <span class="text-sm text-gray-500">Policies</span>
    <span class="px-3 py-1 bg-blue-100 text-blue-700 rounded-full text-sm">
      {{ c.policiesCount }}
    </span>
  </div>
</div>
