<div class="flex flex-col justify-end items-center gap-10 p-2">

  @if (currentUser()?.role === 'admin') {
      <div class="flex flex-col gap-3">
        <a routerLink="/admin/dashboard" class="btn">Admin Dashboard</a>
        <a routerLink="/admin/policies" class="btn">Admin Policies</a>
        <a routerLink="/admin/users" class="btn">Admin Users</a>
        <a routerLink="/admin/claims" class="btn">Admin Claims</a>
        <a routerLink="/admin/profile" class="btn">Admin Profile</a>
      </div>
  }
  @else if (currentUser()?.role === 'agent') {
      <div class="flex flex-col gap-3">
        <a routerLink="/agent/dashboard" class="btn">Agent Dashboard</a>
        <a routerLink="/agent/claims" class="btn">Agent Claims</a>
        <a routerLink="/agent/profile" class="btn">Agent Profile</a>
      </div>
  }
  @else if (currentUser()?.role === 'customer') {
      <div class="flex flex-col gap-3">
        <a routerLink="/customer/dashboard" class="btn">Customer Dashboard</a>
        <a routerLink="/customer/policies" class="btn">Customer Policies</a>
        <a routerLink="/customer/claims" class="btn">Customer Claims</a>
        <a routerLink="/customer/profile" class="btn">Customer Profile</a>
      </div>
  }
</div>
